name: flutter_MyBilibili
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  http: 0.12.0+2
  http_client: ^1.0.3
  video_player: ^0.10.1+6 
  chewie: ^0.9.7
  url_launcher: ^5.1.2
  flutter_swiper: ^1.1.6
  pull_to_refresh: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/head_icon.jpg
    - images/QR.png
    - images/fengmian1.jpg
    - images/fengmian2.jpg
    - images/fengmian3.jpg
    - images/splashpage.jpg
    - images/ic_player_danmaku_input_options_rl_disabled.png
    - images/ic_player_coin.png
    - images/timg.gif
    - images/butterfly.mp4
    - images/partitions.png
    - images/img_tips_error_load_error.png
    - images/bili_default_avatar.png
    - images/bangumi_home_login_guide.png
    - images/dynamic_login_guide.png
    - images/login_logo_account.png
    - images/login_logo_password.png
    - images/ic_tv_play.png
    - images/ic_tv_play_large.png
    - images/小电视.png
  #  - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Bilibili
      fonts:
        - asset: assets/icons/font_bilibili/iconfont.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
